* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
}

main {
    width: 55%;
    margin: 20px auto;
}

#container {
    height: 100%;
    background-color: aqua;
}


.titolo {
    width: 70%;
    margin: 0 auto;
    text-transform: uppercase;
}

header>h1 {
    text-align: center;
}

.carte-gioco {
    width: 150px;
    max-height: 200px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
    
}

.carte-scoperte {
    position: relative;
}

.img-carte-scoperte {
    width: 150px;
    display: none;
    position: absolute;
    bottom: 10px;
    background-size: contain;
}

.descrizione-img {
    color: rgb(197, 55, 178);
    position: absolute;
    left: 25px;
    display: none;
    padding: 5px;
}

.carte-gioco:hover .img-carte-scoperte{
    display: inline-block;
}

.carte-gioco:hover .descrizione-img {
    display: inline-block;
}

.background-color {
    background-color: white;
}

.img-carte-coperte {
    width: 150px;
    min-height: 200px;
    background-size: contain;
    border-radius: 10px;
    display: inline-block;
    background-image: url(../img/pattern.png);
}

.carte-gioco:hover .img-carte-coperte {
    display: none;
}


.footer {
    text-align: center;
}
